.aside {
    width: 16.875em;
    @include transition(all, 0.5s, ease);
}

.main-content {
    padding-left: 16.875em;
    @include transition(all, 0.5s, ease);
}

.modal {
    width: 100%;

    @include transition(all, 0.5s, ease);
    // z-index: 1000000 !important;
    overflow-x: hidden !important;
}

.open {
    .aside {
        @include transform(translateX(-16.875em));
    }
    .main-content {
        width: calc(100% + 16.875em);
        @include transform(translateX(-16.875em));
        animation: slide 0.4s ease;
    }
    .bgDraw2 {
        height: calc(50vh - 19.237vw - 2.2675vw);
        bottom: 0;
    }
    .modal {
        width: calc(100% - 16.875em);
        @include transform(translateX(16.875em));
        @include transition(all, 0.5s, ease);
        top: inherit !important;
    }
}

.close {
    .main-content {
        width: calc(100% + 0em);
        @include transform(translateX(0));
        animation: slide 0.4s ease reverse;
    }
    .bgDraw2 {
        height: calc(50vh - 19.237vw - 0vw);
        bottom: 6.14%;
    }
    .modal {
        width: calc(100% - 16.875em);
        @include transform(translateX(16.875em));
        @include transition(all, 0.5s, ease);
        top: inherit !important;
    }
}

@keyframes slide {
    0% {
        width: calc(100% + 0em);
        @include transform(translateX(0));
    }
    100% {
        width: calc(100% + 16.875em);
        @include transform(translateX(-16.875em));
    }
}
