body.light {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-75: #f2edf5;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --text-black-500: #706e93;
    .icon {
        fill: #fff;
    }
}

body.dark {
    .service .service_container .service-item .service-item-inner {
        border: 1px solid var(--bg-black-50);
        border-right-color: #222222;
        border-bottom-color: #222222;
        &:hover {
            border-right-color: #292929;
            border-bottom-color: #292929;
            box-shadow: 0 0 1.25em rgba(207, 209, 178, 0.15);
        }
    }
    .about {
        .technologies {
            @include drop-shadow(var(--skin-color-darked) 0px 0px 0.625em);
        }
        & .timeline {
            box-shadow: 0 0 0px rgba(207, 209, 178, 0.15);
            &:hover {
                box-shadow: 0 0 1.25em rgba(207, 209, 178, 0.15);
            }
            & .timeline-item {
                & .timeline-text {
                    &_add {
                        &:hover {
                            .bd_Bottom {
                                border-bottom: 1px solid var(--skin-color-dark);
                                .fa-Circle {
                                    background: var(--skin-color-dark);
                                }
                            }
                        }
                        .bd_Bottom {
                            border-bottom: 1px solid var(--skin-color-darked);
                            .fa-Circle {
                                background: var(--skin-color-darked);
                                .icon {
                                    fill: var(--bg-black-100);
                                }
                            }
                        }
                    }
                    .bd_Last {
                        border-bottom: 1px solid var(--skin-color-dark);
                        opacity: 0.25;
                        top: -1px;
                    }
                }
            }
        }
    }

    & .timeline-date {
        i {
            color: darkgoldenrod;
        }
    }

    .modal {
        background-color: rgba-color($bg-black-900-dark, 0.5);

        .content {
            @include drop-shadow(0 0 0px rgba(0, 0, 0, 0));
            box-shadow: 0 0 1.25em rgba(207, 209, 178, 0.15);
            #modalEvent,
            #modalPortfolio,
            #modalContact {
                background-color: var(--bg-black-100);
                border: 1px solid var(--bg-black-50);
                border-radius: 0.625em;
                .portfolio-item-inner {
                    &:hover {
                        box-shadow: 0 0 1.25em rgba(48, 46, 77, 0);
                        .icon {
                            font-size: 1.5625em;
                            fill: var(--bg-black-100);
                            background-color: var(--skin-color);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    body.dark {
        .aside {
            background-color: rgba-color($bg-black-900-dark, 0.5);
            box-shadow: 0 0.25em 1.875em rgba(0, 0, 0, 0.1);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);

            &_bg {
                &_bottom {
                    background-color: rgba-color($bg-black-900-dark, 0.5);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                }
            }
            .logo {
                background-color: rgba-color($bg-black-900-dark, 0.5);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
            }
            .nav {
                background-color: rgba-color($bg-black-900-dark, 0.75);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
            }
            .switcher-container {
                .style-switcher {
                    background-color: rgba-color($bg-black-900-dark, 0.05);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                    border: none;
                }
            }
        }
    }
    body.light {
        .aside {
            @include drop-shadow(0 4px 15px rgba(48, 46, 77, 0.1));
            background-color: rgba-color($bg-black-900-light, 0.5);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            &_bg {
                &_bottom {
                    background-color: rgba-color($bg-black-900-light, 0.5);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                }
            }
            .logo {
                background-color: rgba-color($bg-black-900-light, 0.5);
                box-shadow: 0 4px 7.5px rgba(48, 46, 77, 0.1);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
            }
            .nav {
                background-color: rgba-color($bg-black-900-light, 0.75);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                li.head-btn {
                    border-bottom: 1px solid #fff;
                }
            }
            .switcher-container {
                .style-switcher {
                    background-color: rgba-color($bg-black-900-light, 0.05);
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                    border: none;
                }
            }
        }
    }
}
